/*
 * Customization Variables
 */

// $accent: #FF0F00;
$accent: #990000;
$image-size: 85px;

/*
 * Build Variables, don't touch
 */

// $max-width: 700px;
// $max-width: 900px;
$med-width: 600px;
$small-width: 480px;
